<div class="content">
  <h2 class="subtitle">Administración</h2>
  <div class="content-apps">
    <a routerLink="/pacientes">
      <panel-card label="pacientes" icon="settings_accessibility"></panel-card>
    </a>
    <a routerLink="/patologos">
      <panel-card label="patologos" icon="person_4"></panel-card>
    </a>
    <a routerLink="/informes">
      <panel-card label="informes" icon="receipt"></panel-card>
    </a>
    <a routerLink="/users">
      <panel-card label="Usuarios" icon="manage_accounts"></panel-card>
    </a>
  </div>
</div>