<div class="col-sm-12 col-md-12">
  <!-- Main Toolbar -->
  <main-toolbar (showMenuBtnEvent)="sidenav.toggle();sidenav.ngAfterViewInit() "></main-toolbar>

  <mat-sidenav-container class="main-container">
    <!-- Main Sidenav -->
    <mat-sidenav
      #sidenav
      mode="side"
      closed
      (blur)="sidenav.close()"
      class="main-sidenav"
    >
      <!-- App Menu -->
      <menu
        (showMenuBtnEvent)="sidenav.toggle()"
        (blur)="sidenav.close()"
      ></menu>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
      <div class="routes-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
