::ng-deep menu {
  padding-left: 0px !important;}

mat-icon {
  font-size: 28px !important;
  margin-right: 10px;
}

a:hover {
  cursor: pointer;
  background-color: #aaaaaa40;
}
.material-symbols-outlined {
  font-size: 28px;
}