.title-spacer {
  flex: 1 1 auto;
}
.center {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.secondary-toolbar {
  height: 48px;
}

.back-icon {
  font-size: 18px;
  padding-left: 4px;
  padding-top: 4px;
}

.action-icon {
  font-size: 18px;
  padding-left: 4px;
  padding-top: 4px;
}